<div class="article {{this.league}}">

    <div class="content">
        <a href="{{this.link}}">


            {{#compare this.imgUrl '' operator="==="}}
            <img class="articleImage" src="/images/leagues/{{this.league}}.png" alt="{{this.title}}">
            {{/compare}}
            {{#compare this.imgUrl '' operator="!="}}
            <img class="articleImage" src="{{this.imgUrl}}" alt="{{this.title}}">
            {{/compare}}


        </a>
        <div class="articleDiv">
            <a href="{{this.link}}" target="_blank">
                <h2 class="articleTitle">{{this.title}}</h2>
                <hr>
            </a>
            <a href="{{this.link}}" target="_blank">
                <p class="articleDesc">{{this.description}}</p>
                <h4 class="sport" data-sport="{{this.league}}">Sport: {{this.league}}</h4>
            </a>
        </div>
    </div>
    <ul class="interact" id="{{this._id}}">
        <button type="button" class="like_btn interact_btn"><img src="images/logo/jab.png" class = "like"> {{this.jabs.length}}</button>
        <button type="button" class="comment_btn interact_btn"><i class="fas fa-comment"></i> comments</button>
    </ul>
    <ul class="comment_display hide_comments">
        {{#each this.comments}}
        {{#each this}}
        <li class="single_comment"><span class="commentator"><h4>{{this.postedBy}}</h4></span>{{this.content}}</li>
        {{/each}}
        {{/each}}
    </ul>
    <div class="comment_section">
        <span class="comment_input"><input type="text" class="noborders" placeholder="Type your comment here ...">
            <i class="fas fa-comment-medical addCommentIcon"></i></span>
    </div>
</div>