<div class="article">

    <div class="content">
        <a href="{{this.link}}"><img class="articleImage" src="{{this.imgUrl}}" alt="{{this.title}}"></a>
        <a href="{{this.link}}">
            <h2 class="articleTitle">{{this.title}}</h2>
        </a>
        <a href="{{this.link}}">
            <p class="articleDesc">{{this.description}}</p>
        </a>
    </div>
    <ul class="interact">
        <li class="like_btn" id={{this._id}}><a href="/"><i class="fas fa-heart"></i>{{this.jabs}} Like</a></li>
        <li><a href="/"><i class="fas fa-comment"></i> Comment</a></li>
        <li><a href="/">{{this.comments}} comments</a></li>
    </ul>
</div>