<div class="article">
        <div class="content">
            <img class="articleImage" src="{{this.imgUrl}}" alt="{{this.title}}">
            <h2 class="articleTitle">{{this.title}}</h2>
            <p class="articleDesc">{{this.content}}</p>
        </div>
        <ul class="interact">
            <li><a href="/"><i class="fas fa-heart"></i>{{this.jabs}} Jab</a></li>
            <li><a href="/"><i class="fas fa-comment"></i>add a comment</a></li>
            <li><a href="/">comments</a></li>
        </ul>
    </div>