<ul class="tags_ul">
   {{#each leagues}}
   <li class="tags_li">
        <input type="checkbox" name="{{this.name}}" id="{{this.name}}">
        <img src="{{this.imgPath}}" alt="{{this.name}}" class="tags_img">
        <h4 class="sport-name">{{this.name}}</h4>
        
   </li>
   {{/each}}
</ul>

