<form action="/signup" id="form_user" method="POST" enctype="multipart/form-data"></form>
  <section class="partial-top sign form-container" id="signup-page1">
    <header class="form-header">
      <h1 class="form-title">Welcome to JAB</h1>
      <h3 class="form-subtitle">Are you ready to join the cage ?</h3>
    </header>
    {{#if msg}}
    <p class="message {{msg.status}}">{{msg.text}}</p>
    {{/if}}
      <div class="form-item-wrapper flexed-item">
        <label for="username" class="label-ref label">Username</label>
        <input name = "username" id="username" type="text" class="input-text input" placeholder="fighter name" required>
      </div>
      <div class="form-item-wrapper flexed-item">
        <label for="email" class="label-ref label">Email</label>
        <input name = "email" id="email" type="email" class="input-text input" placeholder="fighter@mma.com" required>
      </div>
      <div class="form-item-wrapper flexed-item">
        <label for="password" class="label-ref label">Password</label>
        <input name = "password" id="password" type="password" class="input-text input" placeholder="••••••" required>
      </div>
      <div class="form-item-wrapper">
        <label for="profil-pic">Choose your profil picture</label>
        <input id="profil-pic" type="file" name="profil-pic"> 
      </div>
      <button class="button-primary white signup-submit" type="button" id="btn-next">Next</button>

    <p class="form-sub-infos">Already have an account ? <a href="/signin" class="button-link-form">Sign In</a></p>
  </section>

<section id="signup-page2" class="signup-page2 partial-top">
  <h3>Select your favorite leagues</h3>
  <hr class="page-break">
  <div class="league-selection-container">
    {{#each league}}
    <div class="one-league-container">
      <img class="league-logo" src="{{this.image}}" alt="{{this.name}}">
      <input type="checkbox" name="{{this.name}}" value="{{this.name}}">{{this.name}}
    </div>
    {{/each}}  
  </div>
  {{!-- this is a test to be removed --}}
 

  <div class="league-selection-container">
    <div class="one-league-container">
      <img class="league-logo" src="../images/ufc-logo.png" alt="">
      <input type="checkbox" name="test1" value="UFC">UFC
    </div>
    <div class="one-league-container">
      <img class="league-logo" src="../images/ufc-logo.png" alt="">
      <input type="checkbox" name="test1" value="UFC">UFC
    </div>
    <div class="one-league-container">
      <img class="league-logo" src="../images/ufc-logo.png" alt="">
      <input type="checkbox" name="test1" value="UFC">UFC
    </div>
  </div>
 
  <h3>Select your favorite fighter</h3>
   <hr class="page-break">
   <div class="fighter-select-container">
      <select name="fighter-select" id="fighter-select" aria-placeholder="select a fighter" class="fighter-select">
        <option value="fighter1">fighter1</option>
        <option value="fighter2">fighter2</option>
        <option value="fighter3">fighter3</option>
        <option value="fighter4">fighter4</option>
        <option value="fighter5">fighter5</option>
        <option value="fighter6">fighter6</option>
        <option value="fighter7">fighter7</option>
        <option value="fighter8">fighter8</option>
      </select>
      <div><img src="../images/ufc-logo.png" alt="Player photo" class="fighter-photo"></div>
   </div>
 <button class="button-primary white signup-submit-all">Submit</button>
</section>
  
</form>